@import "./config.css";
.m-panel{
    padding: 0;
    margin: 0;
    p,span,ul,li{
        padding: 0;
        margin: 0;
    }
    li{list-style:none;}
    .emoji {
        width: 18px;
        height: 18px;
        vertical-align: top;
        float: none;
    }
    .panel_empty{
        padding: 10px 5px;
    }
    .panel_item{
        border-bottom:1px solid $borderColor;
        overflow:hidden;
        height:57px;
        padding:8px 10px;
        box-sizing:border-box;
        cursor: pointer;
        &:hover{
            background-color:#f5f5f5;
        }
        &.active{
            background-color: #f5f5f5;
            .count{
                display: none;
            }
        }
    }
    .panel_avatar{
        float: left;
        .panel_image{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            vertical-align: top;
        }
       
    }
    .panel_text {
        margin: 0 0 0 60px;
        box-sizing:border-box;
        position: relative;
        height: 100%;
        overflow: hidden;
        .panel_time{
            position: absolute;
            right:0;
            top:0;
            font-size: 12px;
            color: #999;
        }
        .panel_multi-row{
            height: 20px;
            line-height: 20px;
        }
        .panel_single-row{
            height: 40px;
            line-height: 40px;
            color: $nickColor;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .panel_nick,.panel_lastMsg{
            display: inline-block;
            width: 60%;
            font-size: 14px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .panel_nick{
            color:$nickColor;
        }
        .panel_lastMsg{
            color:$msgColor;
        }
        .panel_count {
            position: absolute;
            background-color: #f24c3d;
            display: inline-block;
            font-size: 12px;
            color: #fff;
            border-radius: 10px;
            right: 0;
            top: 21px;
            text-align: center;
            padding: 0 5px;
            width: 20px;
            line-height: 18px;
        }
    }
    .panel_team .panel_team-title{
        font-size:14px; 
        padding: 5px 10px;
        color: #a1aebc;
        background-color: #f5f7fa;
        border-bottom: 1px solid $borderColor;
    }
}


